/* Font globale */
* {
  font-family: "Adwaita Sans";
  font-size: 15px;
  min-height: 0;
}

/* Finestra principale con trasparenza */
window#waybar {
  background-color: rgba(18, 18, 18, 0.9);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  color: #fdf6e3;
}

/* Moduli taskbar centrale */
#taskbar button {
  padding: 0 5px;
  color: #fdf6e3;
  border-bottom: 2px solid transparent;
}

#taskbar button.active {
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid #268bd2;
}

/* Padding e stile per i singoli moduli */
#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#network,
#tray,
#custom-expand {
  padding: 0 10px;
  margin: 3px 2px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.05);
}