* {
  border: none;
  font-family: "JetBrainsMono Nerd Font", "monospace";
  font-size: 14px;
}

window#waybar {
  background-color: rgba(10, 10, 10, 0.8);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: .5s;
}

#workspaces button {
  padding: 0 5px;
  color: #777777;
  background-color: transparent;
}

#workspaces button.focused {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}

#workspaces button.urgent {
  color: #eb4d4b;
}

#workspaces button:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#pulseaudio,
#tray,
#custom-expand,
#custom-endpoint {
  padding: 0 10px;
  color: #ffffff;
}

/* Specific module tweaks */
#clock {
  font-weight: bold;
}

#battery.warning {
  color: #ffaa00;
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    color: #ffffff;
  }
}
