/* Font globale */
* {
  font-family: "Adwaita Sans";
  font-size: 14px;
}

/* Finestra principale */
window#waybar {
  background: #121212;
  color: #fdf6e3;
}

#workspaces,
#clock.1,
#clock.2,
#pulseaudio,
#memory,
#cpu,
#battery,
#tray {
  padding: 0 7px;
}

#workspaces button {
  padding: 0 2px;
  color: #fdf6e3;
}