* {
  border: none;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
}

/* Finestra principale */
window#waybar {
  background-color: rgba(10, 10, 10, 0.8);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: .5s;
}

#clock,
#battery,
#cpu,
#memory,
#pulseaudio,
#tray,
#custom-expand,
#custom-endpoint {
  padding: 0 10px;
  color: #ffffff;
}
